![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### PANDAS. Yakuniy vazifa. **2-Qism**

## Dataset
#### Ushbu vazifada biz turli davlatlarning turli yillarda elektr tokini qanday manbaalardan olganini ko'rsatuvchi jadval bilan ishlaymiz.
Jadval ustunlari ko'mir, gaz, gidro va boshqa manbaalardan ko'rsatilgan yilda qancha __terravat/soat__ energiya olinganini ko'rsatadi.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/Electricity_Production_By_Source.csv")
df.columns = ['davlat','kod','yil','komir','gaz','gidro','yangilanuvchi','quyosh','neft','shamol','atom']
df.head()

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

### 1-VAZIFA. DF hajmini chiqaring

In [4]:
df.shape

(6241, 11)

### 2-VAZIFA. Jadvalda mavjud davlatlar ro'yxatini alohida chiqaring

In [17]:
len(df.davlat.unique())

235

In [18]:
df.tail()

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
6236,Zimbabwe,ZWE,2015,4.311780,0.0,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.0,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.0,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.0,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.0,5.020,0.206667,0.014,0.0,0.0,0.0

In [ ]:
#@title Kutilgan natija

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'American Samoa',
       'Angola', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia Pacific', 'Australia', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS', 'Cambodia', 'Cameroon', 'Canada',
       'Cayman Islands', 'Central African Republic', 'Central America',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'EU-27', 'EU27+1',
       'Eastern Africa', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Europe',
       'Europe (other)', 'Falkland Islands', 'Faroe Islands', 'Fiji',
       'Finland', 'France', 'French Guiana', 'French Polynesia', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar', 'Greece',
       'Greenland', 'Grenada', 'Guadeloupe', 'Guam', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran',
       'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Lithuania', 'Luxembourg', 'Macau', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Martinique',
       'Mauritania', 'Mauritius', 'Mexico', 'Middle Africa',
       'Middle East', 'Moldova', 'Mongolia', 'Montenegro', 'Montserrat',
       'Morocco', 'Mozambique', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North America', 'North Korea', 'North Macedonia', 'Norway',
       'Oman', 'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia',
       'Slovenia', 'Solomon Islands', 'Somalia',
       'South & Central America', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'U.S. Pacific Islands', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Virgin Islands', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela', 'Vietnam', 'Western Africa', 'Western Sahara',
       'World', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

### 3-VAZIFA. DF dan faqat AQSh (`United States`) uchun ma'lumotlarni ajratib oling va yangi `dfus` nomli o'zgaruvchiga saqlang

In [7]:
dfus = df[df.kod == 'USA']

In [8]:
#@title Kutilgan natija
dfus.head(6)

,davlat,kod,yil,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
5887,United States,USA,1985,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
5888,United States,USA,1986,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
5889,United States,USA,1987,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
5890,United States,USA,1988,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
5891,United States,USA,1989,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
5892,United States,USA,1990,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819

### 4-VAZIFA. `dfus` jadvalining indeksini `yil` ustuni bilan o'zgartiring. DF dan `yil` ustunini tashlab yuboring.

In [20]:
dfus.tail()

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [ ]:
dfus.set_index('yil', inplace=True)
dfus.drop('yil', axis=1, inplace=True)

In [13]:
#@title Kutilgan natija
dfus.head(6)

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
1990,United States,USA,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819

### 5-VAZIFA. AQSh 2020-yilda jami qancha elektr energiyasi ishlab chiqqan?

In [26]:
# JAVOBNI SHUYERGA YOZING
# USA in 2020 year all data
dfus

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
1990,United States,USA,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819
1991,United States,USA,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355
1992,United States,USA,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435
1993,United States,USA,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804
1994,United States,USA,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192
1995,United States,USA,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340
1996,United States,USA,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575
1997,United States,USA,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706
1998,United States,USA,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109
1999,United States,USA,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288
2000,United States,USA,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000
2001,United States,USA,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308
2002,United States,USA,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087
2003,United States,USA,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695
2004,United States,USA,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387
2005,United States,USA,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365
2006,United States,USA,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636
2007,United States,USA,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753
2008,United States,USA,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435
2009,United States,USA,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585
2010,United States,USA,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301
2011,United States,USA,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367
2012,United States,USA,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249
2013,United States,USA,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473
2014,United States,USA,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
2015,United States,USA,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [34]:
data = dfus.sum()
data.iloc[2:].sort_values()

quyosh             560.669365
yangilanuvchi     2375.326153
shamol             2572.11715
neft               3317.21713
gidro             9941.101494
atom             25810.017535
gaz              28412.154304
komir            61129.035453
dtype: object

In [35]:
dfus

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom
yil,,,,,,,,,,
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492
1990,United States,USA,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819
1991,United States,USA,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355
1992,United States,USA,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435
1993,United States,USA,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804
1994,United States,USA,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192
1995,United States,USA,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340
1996,United States,USA,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575
1997,United States,USA,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706
1998,United States,USA,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109
1999,United States,USA,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288
2000,United States,USA,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000
2001,United States,USA,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308
2002,United States,USA,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087
2003,United States,USA,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695
2004,United States,USA,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387
2005,United States,USA,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365
2006,United States,USA,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636
2007,United States,USA,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753
2008,United States,USA,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435
2009,United States,USA,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585
2010,United States,USA,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301
2011,United States,USA,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367
2012,United States,USA,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249
2013,United States,USA,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473
2014,United States,USA,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982
2015,United States,USA,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631

In [41]:
#@title O'xshash natija (2018-yil uchun)
dfus['jami'] = dfus.iloc[:,2:].sum(axis=1)
dfus.sort_values(by='jami', ascending=False, inplace=True)
dfus

/var/folders/qp/fqd01lk956714xf504q2pj880000gn/T/ipykernel_2157/1259631371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfus['jami'] = dfus.iloc[:,2:].sum(axis=1)

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom,jami
yil,,,,,,,,,,,
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477,25223.621577
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262,24971.005572
2007,United States,USA,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753,24940.468346
2010,United States,USA,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301,24750.359397
2008,United States,USA,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435,24716.326560
2014,United States,USA,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982,24629.031981
2011,United States,USA,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367,24600.845551
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948,24572.924125
2015,United States,USA,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877,24550.441235
2013,United States,USA,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473,24395.784406
2006,United States,USA,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636,24388.213368
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635,24349.564834
2005,United States,USA,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365,24332.536499
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631,24299.079224
2012,United States,USA,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249,24286.591600
2004,United States,USA,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387,23823.331579
2009,United States,USA,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585,23701.985560
1999,United States,USA,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288,23506.821901
2003,United States,USA,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695,23299.111226
2002,United States,USA,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087,23150.713524
1998,United States,USA,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109,23035.363251
2000,United States,USA,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000,22812.630000
2001,United States,USA,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308,22419.861918
1997,United States,USA,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706,22203.750439
1996,United States,USA,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575,21894.145888
1995,United States,USA,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340,21321.648747
1994,United States,USA,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192,20668.979674
1993,United States,USA,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804,20344.470416
1992,United States,USA,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435,19623.555908
1991,United States,USA,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355,19546.291128
1990,United States,USA,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819,19332.643439
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492,18903.140373
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470,17484.293410
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981,16630.993074
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540,16054.468495
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976,15940.837275

In [43]:
dfus['mean'] = dfus.iloc[:,2:].mean(axis=1)
dfus

/var/folders/qp/fqd01lk956714xf504q2pj880000gn/T/ipykernel_2157/1693297451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfus['mean'] = dfus.iloc[:,2:].mean(axis=1)

,davlat,kod,komir,gaz,gidro,yangilanuvchi,quyosh,neft,shamol,atom,jami,mean
yil,,,,,,,,,,,,
2018,United States,USA,1145.962192,1482.189373,286.619450,77.868208,93.364598,38.198843,272.649789,807.084477,25223.621577,3269.728723
2019,United States,USA,964.957000,1598.303000,282.613000,72.980000,106.894000,31.772000,294.906000,809.409262,24971.005572,3236.982204
2007,United States,USA,2016.455584,910.043145,240.613622,70.175791,0.611793,77.970109,34.449927,806.424753,24940.468346,3233.023674
2010,United States,USA,1847.290279,999.010021,254.701937,71.308579,1.212182,49.916355,94.652246,806.968301,24750.359397,3208.379922
2008,United States,USA,1985.801247,894.687475,248.543323,69.873588,0.864315,58.046277,55.363100,806.208435,24716.326560,3203.968258
2014,United States,USA,1581.710350,1138.630744,253.193074,79.866385,28.923690,43.693157,181.655282,797.165982,24629.031981,3192.652294
2011,United States,USA,1733.430005,1025.255129,312.934388,71.986898,1.817696,44.335845,120.176599,790.204367,24600.845551,3188.998497
2016,United States,USA,1239.148654,1391.114366,261.126026,78.586265,54.866492,37.959041,226.992562,805.693948,24572.924125,3185.379053
2015,United States,USA,1352.398197,1346.598808,243.988597,79.549452,39.032171,42.276556,190.718548,797.177877,24550.441235,3182.464605
2013,United States,USA,1581.114716,1137.688497,263.884350,76.632701,9.035620,40.751966,167.839745,789.016473,24395.784406,3162.416497
2006,United States,USA,1990.511135,830.617578,282.688574,69.428650,0.507706,77.140813,26.589137,787.218636,24388.213368,3161.435066
2017,United States,USA,1205.835275,1308.883659,293.838608,78.688434,77.276459,34.486074,254.302662,804.949635,24349.564834,3156.425071
2005,United States,USA,2012.873046,774.424398,263.763467,68.968555,0.550294,135.046076,17.810549,781.986365,24332.536499,3154.217694
2020,United States,USA,773.805528,1629.236806,285.789644,72.984923,132.630484,28.947190,336.533331,789.918631,24299.079224,3149.880640
2012,United States,USA,1514.042945,1237.791760,271.289723,73.184591,4.326675,36.976608,140.821715,769.331249,24286.591600,3148.261874
2004,United States,USA,1978.300549,725.352447,259.929098,68.348428,0.575155,135.377458,14.143741,788.528387,23823.331579,3088.209649
2009,United States,USA,1755.904253,931.610787,268.817749,69.501392,0.891179,50.864849,73.886132,798.854585,23701.985560,3072.479610
1999,United States,USA,2037.863243,598.275405,316.605182,66.477721,0.518342,126.947138,4.533331,766.583288,23506.821901,3047.180617
2003,United States,USA,1973.736750,665.507561,267.271263,67.765320,0.534001,133.450147,11.187467,763.732695,23299.111226,3020.255159
2002,United States,USA,1933.130354,702.468431,255.585905,68.200062,0.554831,108.094305,10.354279,780.064087,23150.713524,3001.018420
1998,United States,USA,2029.040774,571.244198,322.089274,65.617126,0.524659,138.494810,3.056259,709.160109,23035.363251,2986.065607
2000,United States,USA,1966.265000,614.993000,270.034000,74.819000,0.493000,116.015000,5.593000,753.893000,22812.630000,2957.192778
2001,United States,USA,1903.955943,648.168593,208.137599,63.488559,0.542755,136.786564,6.737332,768.826308,22419.861918,2906.278397
1997,United States,USA,1998.243409,515.482441,355.973121,65.820084,0.532696,99.521369,3.321247,661.730706,22203.750439,2878.263946
1996,United States,USA,1945.754200,489.307071,347.549480,64.825960,0.541341,87.538952,3.266736,710.240575,21894.145888,2838.130023
1995,United States,USA,1853.006902,533.395640,311.219815,63.265079,0.514472,80.165661,3.196215,708.844340,21321.648747,2763.917430
1994,United States,USA,1832.271952,494.858798,259.341321,66.354857,0.501873,113.872025,3.481928,674.147192,20668.979674,2679.312180
1993,United States,USA,1831.210785,446.157847,279.250946,66.924724,0.475162,121.277613,3.036189,642.411804,20344.470416,2637.246165
1992,United States,USA,1757.501372,434.488572,251.425678,64.815412,0.408844,107.692648,2.916690,651.343435,19623.555908,2543.794284
1991,United States,USA,1722.535851,410.272061,287.326014,60.551763,0.478253,128.765132,2.980759,644.805355,19546.291128,2533.778480
1990,United States,USA,1725.155171,400.822746,292.280914,57.459315,0.370795,135.978712,2.816768,607.222819,19332.643439,2506.083409
1989,United States,USA,1711.442534,379.170824,274.724178,48.854268,0.253132,176.729591,2.133377,557.215492,18903.140373,2450.407085
1988,United States,USA,1656.615886,271.828714,228.384649,42.394061,0.009186,160.107055,0.000880,554.708470,17484.293410,2266.482479
1987,United States,USA,1573.958375,293.140648,255.410195,42.665433,0.010603,127.411367,0.003577,479.231981,16630.993074,2155.869473
1986,United States,USA,1490.141346,267.213369,296.974969,38.701672,0.014174,146.865448,0.004231,435.829540,16054.468495,2081.134805
1985,United States,USA,1507.664651,313.920392,287.182362,36.392894,0.010737,107.744380,0.005820,403.884976,15940.837275,2066.404832

### 6-VAZIFA. 2010-2020-yillarda AQSH turli manbaalardan o'rtacha qancha elektr toki olganini chiqaring. Natijani kichikdan kattaga qarab tartiblang.

In [ ]:
# JAVOBNI SHUYERGA YOZING

In [ ]:
#@title O'xshash natija (1990-2000 yillar uchun)

quyosh              0.487222
shamol              3.472647
yangilanuvchi      65.175549
neft              114.206278
gidro             299.372340
gaz               500.845253
atom              684.580238
komir            1881.713514
dtype: float64

### 7-VAZIFA. AQSH gidro elektr stansiyalardan eng kam va eng ko'p elektr energiyasi olgan yillarni toping.

In [ ]:
# JAVOBNI SHUYERGA YOZING

### 8-VAZIFA. 
#### 8.1 Asl `df` dan 2019-yil ma'lumotlarini ajratib oling. 
#### 8.2 Yangi df ga `df19` deb nom bering
#### 8.3 `df19` indeksini `davlat` ustuniga o'zgartiring hamda `davlat` va `yil` ustunlarini tashlab yuboring.
#### 8.4 `df19` dan `World` indeksini o'chirib tashlang

In [52]:
# JAVOBNI SHUYERGA YOZING
# 2019 all datas
df19 = df[df.yil == 2019]

In [50]:
#column mean
df19.mean()

/var/folders/qp/fqd01lk956714xf504q2pj880000gn/T/ipykernel_2157/153920821.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df19.mean()

yil              2019.000000
komir             129.417439
gaz                89.585789
gidro              58.389398
yangilanuvchi      10.264947
quyosh             10.261934
neft               15.348585
shamol             21.585001
atom               41.818841
dtype: float64

In [ ]:
#@title Kutilgan natija

                     kod       komir  ...     shamol       atom
davlat                                ...
Afghanistan          AFG    0.000000  ...   0.000000   0.000000
Africa               NaN  253.555978  ...  17.508052  14.214193
Albania              ALB    0.000000  ...   0.000000   0.000000
Algeria              DZA    0.000000  ...   0.011000   0.000000
American Samoa       ASM    0.000000  ...   0.000000   0.000000
Angola               AGO    0.000000  ...   0.000000   0.000000
Antarctica           ATA    0.000000  ...   0.000000   0.000000
Antigua and Barbuda  ATG    0.000000  ...   0.000000   0.000000
Argentina            ARG    0.740682  ...   4.997000   7.927000
Armenia              ARM    0.000000  ...   0.003000   2.029000

[10 rows x 9 columns]

#### 8.5 `df19` jadvali uchun umumlashtiruvchi statistikani chiqaring

In [ ]:
# JAVOBNI SHUYERGA YOZING

### 9-VAZIFA. 2019-yilda har bir davlat jami qancha elektr energiya ishlab chiqarganini DF ko'rinishida chiqaring.
*ishora. `Series` obyektini `DF` ga o'tkazing

In [ ]:
# JAVOBNI SHUYERGA YOZING

In [ ]:
#@title Kutilgan natija

                       max
davlat
Afghanistan       1.032000
Africa          867.322298
Albania           5.175940
Algeria          74.348227
American Samoa    0.163000
...                    ...
Western Africa   20.483381
Western Sahara    0.000000
Yemen             2.513480
Zambia           16.854622
Zimbabwe          9.046100

[234 rows x 1 columns]

### 10-VAZIFA. 
#### 10.1. Asl DF dan 2000-2020-yillar, `France` uchun `atom`, `komir`, `gaz`, `quyosh` manbaalarini alohida `dffr` jadvaliga ko'chirib oling
#### 10.2. `dffr` jadvalini yil ustuni bo'yicha tartiblang

In [ ]:
# JAVOBNI SHUYERGA YOZING

In [ ]:
#@title Kutilgan natija

       yil        atom      komir        gaz     quyosh
1934  2000  415.162000  27.004000  11.514000   0.005223
1935  2001  421.076000  20.478000  15.146000   0.006161
1936  2002  436.760000  23.658000  18.369000   0.007104
1937  2003  441.070000  26.260000  19.368000   0.007767
1938  2004  448.241000  24.372000  21.049000   0.008448
1939  2005  451.529000  27.515000  23.069000   0.010501
1940  2006  450.191000  22.889000  21.760000   0.012103
1941  2007  439.730000  24.446000  21.987000   0.017572
1942  2008  439.447000  23.063000  21.884000   0.041692
1943  2009  409.736000  21.667000  20.503000   0.173971
1944  2010  428.521000  23.359000  23.758000   0.620000
1945  2011  442.387763  17.807444  29.489144   2.333802
1946  2012  425.406017  21.449981  22.753254   4.427930
1947  2013  423.684671  23.830994  18.393269   5.193590
1948  2014  436.479009  11.242305  13.162876   6.391477
1949  2015  437.427808  11.873673  21.143153   7.753328
1950  2016  403.195482  10.344460  34.967086   8.659160
1951  2017  398.359129  12.818153  40.500366   9.584882
1952  2018  412.941812   8.412694  30.587768  10.568737
1953  2019  398.941812   4.412694  37.587768  12.568737
1954  2020  355.190804   4.275487  34.245560  13.190057

#### 10.3 `dffr`uchun Korrelyasiya jadvalini chiqaring.

In [ ]:
# JAVOBNI SHUYERGA YOZING