![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### 2.2.2 `DataFrame` ma'lumotlar tuzilmasi

`DataFrame` tartibli ustunlardan iborat, ikki o'lchovli (jadval ko'rinishidadi) ma'lumotlar tuzilmasi. Har bir ustun bir turdagi ma'lumotlarni saqlaydi (sonlar, matnlar, Boolean va hokazo). `DataFrame` ustunlari ham qatorlari ham indekslangan bo'ladi. Umuman olganda `DataFrame`ni bir nechta `Series`dan iboirat lug'atlar deb tasavvur qilishimiz mumkin.

In [2]:
import pandas as pd
import numpy as np
from pandas import DataFrame

`DataFrame` yaratishning bir nechta usuli bor va bulardan eng osoni qiymatlari bir hil uzunlikdagi ro'yxatdan iborat lug'at orqali yaratish.

In [20]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
       'Aholi soni':[33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
       "Temp":[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53]}
df = DataFrame(data)

In [21]:
df

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

Odatda katta `DataFrame`lar bilan ishlashda `.head()` metodi yordamida jadvalning boshidan 5 ta qator ko'rishimiz mumkin.

In [22]:
df.head()

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65

Lug'atdan `DataFrame` yaratishda har bir qator indekslanadi (`0,1,2...`), ustunlar ketma-ketligi esa lug'atdagi ketma-ketlikka bog'liq bo'ladi. Ustunlar ketma-ketligini berishni istasak `DataFrame` yaratishda `columns` parametrini ham ko'rsatib ketishimiz mumkin:

In [23]:
df = DataFrame(data, columns=['Yil','Temp','Aholi soni'])

Agar `columns` ro'yxarida lug'atda mavjud bo'lmagan ustin bo'lsa, shu ustunga bo'sh qiymatlar qo'yib ketiladi.

In [24]:
df = DataFrame(data, columns=['Yil','Temp','Aholi soni','YAIM'])

In [25]:
df.head()

    Yil  Temp  Aholi soni YAIM
0  2021  1.54        33.9  NaN
1  2020  1.48        33.5  NaN
2  2019  1.56        32.9  NaN
3  2018  1.62        32.5  NaN
4  2017  1.65        31.9  NaN

Huddi `Series` kabi `DataFrame` indekslariga ham o'zimiz qiymat berishimiz mumkin:

In [26]:
df = DataFrame(data, columns=['Yil','Temp','Aholi soni','YAIM'], index=[21, 20, 19, 18, 17, 16, 15, 10])

In [27]:
df

     Yil  Temp  Aholi soni YAIM
21  2021  1.54        33.9  NaN
20  2020  1.48        33.5  NaN
19  2019  1.56        32.9  NaN
18  2018  1.62        32.5  NaN
17  2017  1.65        31.9  NaN
16  2016  1.66        31.4  NaN
15  2015  1.64        30.9  NaN
10  2010  1.53        28.5  NaN

`DataFrame`ning istalgan ustunini `Series` ko'rinishida ajratib olishimiz mumkin. Buning ikki usuli bor:
1. Ustun nomi attribut sifatida

In [28]:
df.Temp

21    1.54
20    1.48
19    1.56
18    1.62
17    1.65
16    1.66
15    1.64
10    1.53
Name: Temp, dtype: float64

2. Lug'at kabi ajratish

In [29]:
df['Aholi soni']

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

1-Usul faqatgina ustun nomi bir so'zdan iborat, Python o'zgaruvchi talablariga javob bergan holda ishlaydi.

Ahamiyat bering, ajratib olingan ustunlar indeksi va ustun nomi saqlanib qoladi

Yuqoridagi usul bilan biz ustundagi barcha elementlarga qiymat berishimiz mumkin:

In [41]:
df.YAIM = 1600

In [42]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1600
20  2020  1.48        33.5  1600
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1600
17  2017  1.65        31.9  1600
16  2016  1.66        31.4  1600
15  2015  1.64        30.9  1600
10  2010  1.53        28.5  1600

`Series` yordamida biror ustunning ma'lum bir qatorlariga o'zgartirish kiritish mumkin. Bunda qatorlarning indeksi berilishi shart.

In [46]:
val = pd.Series([1750, 1560, 1270], index=[21, 18, 10])

In [47]:
df.YAIM = val

In [48]:
df

     Yil  Temp  Aholi soni    YAIM
21  2021  1.54        33.9  1750.0
20  2020  1.48        33.5     NaN
19  2019  1.56        32.9     NaN
18  2018  1.62        32.5  1560.0
17  2017  1.65        31.9     NaN
16  2016  1.66        31.4     NaN
15  2015  1.64        30.9     NaN
10  2010  1.53        28.5  1270.0

Shuningdek ustun qiymatlarini o'zgartirish uchun shu ustun qatorlari soniga teng ro'yxatdan foydalanishimiz mumkin.

In [49]:
YAIM = [1700, 1670, 1600, 1590, 1400, 1300, 1350, 1360]

In [50]:
df['YAIM'] = YAIM

In [51]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1670
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

Agar qiymat berishda mavjud bo'lmagan ustun nomi yozilsa, `DataFrame`ga yangi ustun qo'shiladi (bu faqat lug'at ko'rinishda yozishga xos). 

Quyidagi misolda biz avval yangi `1500+` degan ustun yaratdik keyin esa bu ustun qiymatlarini `df.YAIM>1500` sharti yordamida to'ldridik (ya'ni yalpi ichki mahsluot `1500` dan katta bo'lsa `True` aks holda 'False`.

In [54]:
df["1500+"] = df.YAIM>1500

In [57]:
df

     Yil  Temp  Aholi soni  YAIM  1500+
21  2021  1.54        33.9  1700   True
20  2020  1.48        33.5  1670   True
19  2019  1.56        32.9  1600   True
18  2018  1.62        32.5  1590   True
17  2017  1.65        31.9  1400  False
16  2016  1.66        31.4  1300  False
15  2015  1.64        30.9  1350  False
10  2010  1.53        28.5  1360  False

Huddi lug'atlardagi kabi istalgan ustunni del operatori yordamida o'chirib tashlash ham mumkin.

In [58]:
del df['1500+']

In [59]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1670
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

`DataFrame` yaratishning yana bir usuli lug'atlar lug'atidan foydalanish. Bunda tashqi lug'at kalitlari ustun, ichki lug'at kalitlari esa indeks bo'ladi.

In [61]:
data = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}

In [77]:
df2 = DataFrame(data)

In [78]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

E'tibor bering, Uzbekistan ustunda 2016 yil uchun qiymat yo'q. Sababi nimada?

Huddi `Series` kabi, `DataFrame` indeksini ham nomlashimiz mumkin.

In [79]:
df2.index.name = "Yil"
df2

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

Agar biz lug'atdan faqagina ma'lum bir qiymatlarni ajratib olishni istasak index ni o'zimiz ko'rsatishimiz mumkin.

In [80]:
df2 = DataFrame(data, index=[2021, 2019, 2017]) # 2021, 2019 va 2017 yil ma'lumotlarini olamiz

In [81]:
df2

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2019        32.9        18.5
2017        31.9        18.1

Indekslar va Ustunlar o'rnini almashtirish uchun `.T` (transpose) metodidan foydalanish mumkin.

In [82]:
df2.T

            2021  2019  2017
Uzbekistan  33.9  32.9  31.9
Kazakhstan  18.9  18.5  18.1

`.values` parametri yordamida `DataFrame` ichidagi qiymatlarni 2-o'lchamli massiv ko'rinishida olishimiz mumkin.

In [85]:
df2.values

array([[33.9, 18.9],
       [32.9, 18.5],
       [31.9, 18.1]])

## `Index` obyekti

`Series` va `DataFrame` indeklasri ham maxsus Index obyekti hisoblanadi.

In [91]:
df

     Yil  Temp  Aholi soni  YAIM
21  2021  1.54        33.9  1700
20  2020  1.48        33.5  1670
19  2019  1.56        32.9  1600
18  2018  1.62        32.5  1590
17  2017  1.65        31.9  1400
16  2016  1.66        31.4  1300
15  2015  1.64        30.9  1350
10  2010  1.53        28.5  1360

In [92]:
indeks = df.index

In [93]:
indeks

Int64Index([21, 20, 19, 18, 17, 16, 15, 10], dtype='int64')

`Index` elementlariga tartib raqami bo'yciha murojaat qilishimiz mumkin

In [96]:
indeks[0]

21

In [97]:
indeks[-1]

10

In [95]:
indeks[2:5]

Int64Index([19, 18, 17], dtype='int64')

`Index` obyektining qiymatlarini o'zgartirib bo'lmaydi

In [98]:
indeks[0]=22

TypeError: Index does not support mutable operations

Buning afzalligi esa bir hil indeskli turli obyketlar (`DataFrame`lar) bilan ishlashni osonlashtiradi.

Tasavvur qiling sizda turli yillar uchun turli ma'lumotlar turli jadvallarda (`DataFrame`larda) saqlanadi. Bu jadvallari o'zaro bog'lab turgna qiymat bu yillar. Agar yillardan indeks sifatida foydalansangiz, indesklar o'zgarmas bo'lishi hisobiga jadvallar o'rtasidagi bog'liqlik ham mustahkam bo'ladi.

In [100]:
data1 = {
    'Uzbekistan':{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    'Kazakhstan':{2021:18.9, 2020:18.7, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8}
}
df = pd.DataFrame(data)

In [101]:
df

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [123]:
df.columns

Index(['Uzbekistan', 'Kazakhstan'], dtype='object')

In [124]:
'Tajikistan' in df.columns

False

In [125]:
2020 in df.index

True

In [109]:
indeks = df.index

Python ro'yxatlaridan farqli ravishda `Index` takrorlanuvchi qiymatlar ega bo'lishi mumkin:

In [176]:
usernames = {"anvar":"anvarbek223", "olim":"olimtoy", "maryam":"mary334455","javohir":"javohir445"}
emails = {"anvar":"anvar@gmail.com", "olim":"olim@mail.ru", "maryam":"mary33@gmail.com","javohir":"javohir445@gmail.com"}

data = {
    'username':usernames,
    'email':emails
}
df = pd.DataFrame(data)

In [177]:
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com

In [196]:
data2 = {
    'username':{"olim":"olimjon21", "maryam":"maryam2020"},
    'email':{"olim":"olimjon21@mail.ru", "maryam":"maryam20@gmail.com"}
}

In [197]:
df2 = df.append(pd.DataFrame(data2))

In [198]:
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gmail.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21     olimjon21@mail.ru
maryam    maryam2020    maryam20@gmail.com

In [199]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

### Bazi `Index` metodlar va parametrlar

In [200]:
newind = pd.Index(['olim','nafisa','hamida']) # yangi indeks yaratamiz
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

**Indeks boshqa indeks tarkbidia ekanini tekshirish**

In [201]:
newind.isin(df2.index) # newind df2.index tarkibida borligni tekshirish

array([ True, False, False])

**Indeksning boshqa indeksdan farqini tekshirish**

In [202]:
df2.index.difference(newind) # df2

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [203]:
newind.difference(df2.index)

Index(['hamida', 'nafisa'], dtype='object')

**Ikki indeks to'plami**

In [230]:
df2.index.union(newind)

Index(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

**`.delete()` va `.drop()`**

In [205]:
df2.index.delete(0)

Index(['olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [208]:
df2.index.drop('olim')

Index(['anvar', 'maryam', 'javohir', 'maryam'], dtype='object')

In [209]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

**`.insert()`**

In [219]:
df2.index.insert(5,'masha') # 5-o'ringa mashani qo'shamiz

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'masha', 'maryam'], dtype='object')

`.is_monotonic` va `.is_unique`

In [220]:
df2.index.is_monotonic

False

In [222]:
df2.index.is_unique

False

In [223]:
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [224]:
newind.is_unique

True

**`.unique()`**

In [229]:
df2.index.unique() # noyob (takrorlanmas) elementlar

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')