![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### 2.2.3 Foydali funksiyalar (davomi)

### Arifmetik amallar

Ikki `Series` yoki `DataFrame` obyektlari o'rtasida arifmetik amallar bajarishda indekslar juda muhim rol o'ynaydi. 

Amallar mos tushuvchi indekslar o'rtasida bajariladi. Agar obyektlarning birida mavjud indeks ikkinchisda yo'q bo'lsa natija `NaN` bo'ladi.

In [1]:
import pandas as pd
import numpy as np

In [4]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [5]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [6]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [7]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

E'tibor bering, `s1` da mavjud `d` indeksi `s2`da mavjud bo'lmaganligi sabab `s1+s2` da `d` indeksdagi qiymat `NaN` bo'ldi.

Yuqoridagi holat `DataFrame`larga ham xos. `Series`lardan farqli ravishda `DataFrame`da qator va ustun indekslari hisobga olinadi.

In [29]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['Olma','Anor','Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['Olma','Anor','Qovun','Anjir'])

In [30]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [31]:
df2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

In [32]:
df1+df2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

`a` va `d` ustunlar hamda `Qovun` va `Anjir` qatorlar ikkala `DataFrame`da bo'lmagani sababli yuqoridagi natija chiqdi

Yuqoridagi qo'shish amalini `.add()` metodi yordamida ham bajarish mumkin.

In [33]:
df1.add(df2)

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Olma  NaN  1.0  3.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN

Bunda maxsus `fill_value` parametri yordamida mos tushuvchi indekslardagi NaN qiymatlarni boshqa qiymat bilan almashtirish mumkin. Bu usulda yakuniy natijada ikkala df da ham mavjud bo'lmagan indekslarda `NaN` qiymati qoladi.

In [49]:
df2.add(df1, fill_value=0)

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   7.0   9.0  5.0
Olma   0.0   1.0   3.0  2.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN   6.0   7.0  8.0

In [50]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [51]:
df2

         a     b     c
Olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

### Boshqa arifmetik amallar

- `add`, `radd` - Qo'shish (+)
- `sub`, `rsub` - Ayirish (-)
- `div`, `rdiv` - Bo'lish (/)
- `floordiv`, `rfloordiv` - Bo'lish va butun qismini olis (//)
- `mul`, `rmul` - Ko'paytirish (*)
- `pow`, `rpow` - Eksponenta (\*\*)

Yuqoridagi amallarning barchasida `fill_value` parametri mavjud.

`r`bilan boshlangan metodlarda `DataFrame` ifodaning o'ng  tarafida bo'ladi.

In [52]:
df1

        b    c    d
Olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [61]:
df1.sub(2) # df-2 degani

        b    c    d
Olma -2.0 -1.0  0.0
Anor  1.0  2.0  3.0
Uzum  4.0  5.0  6.0

In [62]:
df2.rsub(2) # 2-df degani

         a    b    c
Olma   2.0  1.0  0.0
Anor  -1.0 -2.0 -3.0
Qovun -4.0 -5.0 -6.0
Anjir -7.0 -8.0 -9.0

## `DataFrame` va `Series` o'rtasida arifmetik amallar

In [15]:
df = pd.DataFrame(np.arange(1,13.).reshape(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [16]:
obj = pd.Series([1,1,2,2], index=df.columns)
obj

Olma     1
Anor     1
Qovun    2
Anjir    2
dtype: int64

In [17]:
df - obj

   Olma  Anor  Qovun  Anjir
a   0.0   1.0    1.0    2.0
b   4.0   5.0    5.0    6.0
c   8.0   9.0    9.0   10.0

In [21]:
obj = pd.Series([2,3,1], index=['Olma','Uzum','Qovun'])
obj

Olma     2
Uzum     3
Qovun    1
dtype: int64

In [27]:
df + obj

   Anjir  Anor  Olma  Qovun  Uzum
a    NaN   NaN   3.0    4.0   NaN
b    NaN   NaN   7.0    8.0   NaN
c    NaN   NaN  11.0   12.0   NaN

In [28]:
df - obj['Olma']

   Olma  Anor  Qovun  Anjir
a  -1.0   0.0    1.0    2.0
b   3.0   4.0    5.0    6.0
c   7.0   8.0    9.0   10.0

In [29]:
df.add(obj['Qovun'])

   Olma  Anor  Qovun  Anjir
a   2.0   3.0    4.0    5.0
b   6.0   7.0    8.0    9.0
c  10.0  11.0   12.0   13.0

## pandas Obyekti elementlariga Funksiyalarni qo'llash

In [32]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

       Olma      Anor     Qovun     Anjir
a -0.676467 -0.101748  0.258550  0.056782
b  1.457853  1.379410  2.982372 -0.369975
c -0.698031 -0.945995  1.959117  1.387785

Biror funksiyani DF barcha elementlariga qo'llash:

In [34]:
np.abs(df)

       Olma      Anor     Qovun     Anjir
a  0.676467  0.101748  0.258550  0.056782
b  1.457853  1.379410  2.982372  0.369975
c  0.698031  0.945995  1.959117  1.387785

In [36]:
np.round(df)

   Olma  Anor  Qovun  Anjir
a  -1.0  -0.0    0.0    0.0
b   1.0   1.0    3.0   -0.0
c  -1.0  -1.0    2.0    1.0

In [75]:
df.mean()

Olma     0.027785
Anor     0.110555
Qovun    1.733346
Anjir    0.358197
dtype: float64

Yuqoridagi funksiyalarni `.apply()` metodi yordamida ham qo'llash mumkin.

In [67]:
df

       Olma      Anor     Qovun     Anjir
a -0.676467 -0.101748  0.258550  0.056782
b  1.457853  1.379410  2.982372 -0.369975
c -0.698031 -0.945995  1.959117  1.387785

In [73]:
df.apply(np.mean)

Olma     0.027785
Anor     0.110555
Qovun    1.733346
Anjir    0.358197
dtype: float64

`.apply()` yordamida funksiyani ustun yoki qatorga qo'llashni ko'rsatishimiz mumkin

In [74]:
df.apply(np.sum, axis="columns")

a   -0.462884
b    5.449660
c    1.702876
dtype: float64

Bu metodning afzalligi, o'zingiz istalgan funksiyani yozib uni DF elementlariga qo'llashigniz mumkin:

In [81]:
# DF qatori max va min qiymati ayirmasini hisoblaydigan funksiya
f = lambda x: x.max() - x.min()

In [82]:
df.apply(f)

Olma     2.155884
Anor     2.325405
Qovun    2.723823
Anjir    1.757760
dtype: float64

Funksiya nafaqat yagona qiymat, balki series obyektini ham qaytarishi mumkin

In [79]:
def foo(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [80]:
df.apply(foo)

         Olma      Anor     Qovun     Anjir
min -0.698031 -0.945995  0.258550 -0.369975
max  1.457853  1.379410  2.982372  1.387785

Biror funksiyani DF har bir elementiga alohida qo'llash uchun `.applymap()` metodidan foydalaning.

In [97]:
f = lambda x : x*x # qiymatni kvadratga oshiruvchi funksiya

In [94]:
df = pd.DataFrame(np.arange(1,13).reshape(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [98]:
df.applymap(f)

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144

## Tartiblash va Reytinglash

In [101]:
obj = pd.Series(range(4), index=['d', 'a', 'b', 'c'])
obj

d    0
a    1
b    2
c    3
dtype: int64

`Series` obyektini Indeks bo'yicha tartiblash

In [102]:
obj.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

`Series` obyketini Qiymatlari bo'yucha tartiblash

In [103]:
obj.sort_values()

d    0
a    1
b    2
c    3
dtype: int64

`DataFrame`ni qatorlari yoki ustunlari bo'yicha tartilash mumkin

In [163]:
# KEling keyingi mashqlar uchun Githubdan kattaroq DF yuklab olamiz
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [121]:
df.sort_index()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [130]:
df.sort_index(axis=1) # ustun nomi bo'yicha tartiblash

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year
0,toyota,black,10 days left,usa,159348797,274117,cruiser,6300,new jersey,clean vehicle,jtezu11f88k007763,2008
1,ford,silver,6 days left,usa,166951262,190552,se,2899,tennessee,clean vehicle,2fmdk3gc4bbb02217,2011
2,dodge,silver,2 days left,usa,167655728,39590,mpv,5350,georgia,clean vehicle,3c4pdcgg5jt346413,2018
3,ford,blue,22 hours left,usa,167753855,64146,door,25000,virginia,clean vehicle,1ftfw1et4efc23745,2014
4,chevrolet,red,22 hours left,usa,167763266,6654,1500,27700,florida,clean vehicle,3gcpcrec2jg473991,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,nissan,red,1 days left,usa,167722715,23609,versa,7800,california,clean vehicle,3n1cn7ap9kl880319,2019
2495,nissan,silver,21 hours left,usa,167762225,34553,versa,9200,florida,clean vehicle,3n1cn7ap5jl884088,2018
2496,nissan,silver,21 hours left,usa,167762226,31594,versa,9200,florida,clean vehicle,3n1cn7ap9jl884191,2018
2497,nissan,black,2 days left,usa,167762227,32557,versa,9200,florida,clean vehicle,3n1cn7ap3jl883263,2018
2498,nissan,silver,21 hours left,usa,167762228,31371,versa,9200,florida,clean vehicle,3n1cn7ap4jl884311,2018

In [131]:
df.sort_index(axis=1, ascending=False) # teskari tartiblash

,year,vin,title_status,state,price,model,mileage,lot,country,condition,color,brand
0,2008,jtezu11f88k007763,clean vehicle,new jersey,6300,cruiser,274117,159348797,usa,10 days left,black,toyota
1,2011,2fmdk3gc4bbb02217,clean vehicle,tennessee,2899,se,190552,166951262,usa,6 days left,silver,ford
2,2018,3c4pdcgg5jt346413,clean vehicle,georgia,5350,mpv,39590,167655728,usa,2 days left,silver,dodge
3,2014,1ftfw1et4efc23745,clean vehicle,virginia,25000,door,64146,167753855,usa,22 hours left,blue,ford
4,2018,3gcpcrec2jg473991,clean vehicle,florida,27700,1500,6654,167763266,usa,22 hours left,red,chevrolet
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2019,3n1cn7ap9kl880319,clean vehicle,california,7800,versa,23609,167722715,usa,1 days left,red,nissan
2495,2018,3n1cn7ap5jl884088,clean vehicle,florida,9200,versa,34553,167762225,usa,21 hours left,silver,nissan
2496,2018,3n1cn7ap9jl884191,clean vehicle,florida,9200,versa,31594,167762226,usa,21 hours left,silver,nissan
2497,2018,3n1cn7ap3jl883263,clean vehicle,florida,9200,versa,32557,167762227,usa,2 days left,black,nissan
2498,2018,3n1cn7ap4jl884311,clean vehicle,florida,9200,versa,31371,167762228,usa,21 hours left,silver,nissan

`DataFrame` elementlarini biror ustun(lar) bo'yicha tartiblash ham mumkin

In [134]:
df.sort_values(by='price', ascending=False)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
141,0,dodge,van,2008,salvage insurance,177948,orange,2d8hn44h88r669549,167756157,utah,usa,2 days left
391,0,cadillac,coupe,2000,salvage insurance,105169,white,1g6el12y9yu148063,167651218,virginia,usa,9 days left
285,0,ford,door,2000,salvage insurance,124969,black,1fafp34p7yw270338,167251902,oklahoma,usa,17 hours left
290,0,mazda,door,2009,salvage insurance,117541,gray,jm3er293590215768,167543177,indiana,usa,16 hours left
354,0,ford,pickup,2009,salvage insurance,180364,blue,1ftyr10d19pa60391,167360535,tennessee,usa,2 days left

In [136]:
df.sort_values(by=['price','mileage'], ascending=False)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
196,0,ford,mpv,2017,clean vehicle,76858,white,1fbax2cv0hkb32599,167656523,texas,usa,2 days left
349,0,heartland,sundance,2009,clean vehicle,1,white,5sfgf29269e031344,167266321,pennsylvania,usa,7 days left
309,0,chevrolet,door,2004,salvage insurance,0,maroon,3gnek12t74g240524,167418651,wyoming,usa,18 hours left
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left

`.rank()` metodi yordamida Df qatorlarini reytingini aniqlash mumkin. Reyting aniqlashda aynan qaysi ko'rsatkich (ustun) bo'yicvha reytingni aniqlash ko'rsatiladi

In [174]:
# Moshinalarni mileage (yurgan kilometri) bo'yicha reyitnglaymiz
df['rank'] = df['mileage'].rank()
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,2486.0
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,2445.0
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,1430.0
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,1881.0
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left,689.0
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,1208.0
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,1053.5
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,1107.0
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,1040.0

In [175]:
df.sort_values('mileage')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,3.5
504,100,peterbilt,truck,2012,salvage insurance,0,blue,1xp4d49x1cd144875,167529787,florida,usa,17 hours left,3.5
1619,650,ford,door,2017,salvage insurance,0,black,1fadp3k21hl268441,167651911,california,usa,2 days left,3.5
309,0,chevrolet,door,2004,salvage insurance,0,maroon,3gnek12t74g240524,167418651,wyoming,usa,18 hours left,3.5
1236,4200,ford,door,2013,clean vehicle,0,no_color,1fadp3j23dl155179,167773673,pennsylvania,usa,2 days left,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,2000,chevrolet,pickup,2003,clean vehicle,507985,red,1gcgc24u53z128586,167781223,wisconsin,usa,21 hours left,2495.0
490,475,peterbilt,truck,2012,salvage insurance,902041,gold,1xp4d49x9cd123630,167529786,florida,usa,17 hours left,2496.0
516,0,peterbilt,truck,2009,salvage insurance,982486,blue,1xp7d49x09d784257,167529788,florida,usa,17 hours left,2497.0
1827,3200,ford,door,2013,clean vehicle,999999,silver,1fadp3k21dl266148,167727773,south carolina,usa,21 hours left,2498.0
528,1025,peterbilt,truck,2010,salvage insurance,1017936,color:,1xp7d49x0ad793710,167529842,georgia,usa,17 hours left,2499.0

In [176]:
# .rank() method parametri yordamida reyting o'lchash usulini tanlash mumkin (min, max, average, first, dense)
df['rank'] = df['year'].rank(method='average')
df.sort_values('year')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
32,29800,chevrolet,camaro,1973,clean vehicle,46226,red,1q87t3n166389,167763370,pennsylvania,usa,22 hours left,1.0
405,25,ford,door,1984,salvage insurance,41577,white,2ftcf15y9eca14589,167611661,arkansas,usa,17 hours left,2.0
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,3.0
362,25,ford,pickup,1994,salvage insurance,206162,white,1ftdf15y2rnb12612,167361489,georgia,usa,2 days left,4.5
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,55600,lexus,gx,2020,clean vehicle,8186,silver,jtjam7bx4l5251250,167605747,florida,usa,2 days left,2475.5
806,28300,chevrolet,colorado,2020,clean vehicle,13886,silver,1gcgtcen7l1101496,167805497,indiana,usa,2 days left,2475.5
2322,15000,nissan,altima,2020,clean vehicle,14320,blue,1n4bl4cv4lc134145,167656212,ohio,usa,2 days left,2475.5
2344,20100,nissan,rogue,2020,clean vehicle,10875,blue,jn8at2mvxlw103235,167614842,minnesota,usa,14 hours left,2475.5
1388,17000,ford,fusion,2020,clean vehicle,1117,gray,3fa6p0d98lr194138,167742945,pennsylvania,usa,2 days left,2475.5

In [179]:
df['rank'] = df['price'].rank(method='min')
df.sort_values('price')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
410,0,chevrolet,door,1995,salvage insurance,274706,green,2gcec19h8s1195266,167425634,arizona,usa,2 days left,1.0
330,0,ford,door,1996,salvage insurance,296860,green,1falp62w5th144314,167359712,california,usa,19 hours left,1.0
331,0,ford,door,2006,salvage insurance,203158,red,1fmzk04136ga07119,167610991,illinois,usa,17 hours left,1.0
339,0,ford,door,2002,salvage insurance,214800,black,3fafp37372r151014,167360232,south carolina,usa,2 days left,1.0
496,0,ford,pickup,1996,salvage insurance,252588,red,1ftef15n0tlc14455,167357804,oklahoma,usa,17 hours left,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left,2495.0
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left,2496.0
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left,2497.0
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left,2498.0
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left,2499.0

In [182]:
df['rank'] = df['color'].rank(method='average')
df.sort_values('color')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
135,24005,chevrolet,1500,2017,clean vehicle,51293,beige,1gcukrecxhf153500,167765146,michigan,usa,20 hours left,3.0
168,20105,buick,door,2016,clean vehicle,51393,beige,5gakvbkd8gj196085,167765770,michigan,usa,20 hours left,3.0
460,15010,infiniti,mpv,2019,clean vehicle,11394,beige,jn8az2ne8k9236456,167256603,texas,usa,17 hours left,3.0
149,6700,ford,cutaway,2014,clean vehicle,204155,beige,1fdfe4fs7eda23699,167756194,pennsylvania,usa,3 days left,3.0
2418,3000,nissan,door,2015,clean vehicle,132655,beige,1n4al3ap4fn890836,167755716,pennsylvania,usa,2 days left,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
485,11200,jeep,mpv,2019,clean vehicle,8395,yellow,1c4hjxeg7kw589272,167256942,michigan,usa,2 days left,2495.0
1362,39500,ford,f-150,2019,clean vehicle,25071,yellow,1ftew1e51kkc05297,167781633,california,usa,21 hours left,2495.0
1363,33100,ford,f-150,2019,clean vehicle,33538,yellow,1ftew1c54kkc38135,167781635,california,usa,21 hours left,2495.0
536,11100,jeep,mpv,2019,clean vehicle,11449,yellow,1c4hjxegxkw600703,167256957,michigan,usa,2 days left,2495.0
548,11030,jeep,mpv,2019,clean vehicle,10861,yellow,1c4hjxeg5kw608448,167256958,michigan,usa,2 days left,2495.0